

#sugarschart .x.axis text{
    text-anchor: end !important;
    transform: rotate(-90deg) translateX(-6px) translateY(-14px);

}
#calorieschart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-90deg) translateX(-6px) translateY(-14px);
}
#proteinbarchart{
    transform: rotate(90deg);
}
#proteinbarchart .y.axis text{
        transform: rotate(-90deg) translateY(-12px) translateX(15px);
}
#calciumandironchart{
    transform: rotate(90deg);
}
#calciumandironchart .y.axis text{
        transform: rotate(-90deg) translateY(-12px) translateX(15px);
}
span.number-display{
    font-size: 80px;
}
.navbar-brand{
   font-size: 30px;
}
.navbar{
    min-height: 50px;
}
#number-projects-nd {
   font-size: 60px;
}
 
#total-donations-nd {
   font-size: 60px;
}
 
 
 

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}
 
#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
 
.dc-select-menu {
   background: #ffbb3d;
   border: none;
   width: 95%;
   border-radius: 5px 5px 5px 5px;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
}