#github:hover{
/*transform: scale(1.2);*/
/*transform-origin: left;*/
/*transition: transform 1s ease-in-out;*/
animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

#sugarschart .x.axis text{
    text-anchor: end !important;
    transform: rotate(-90deg) translateX(-6px) translateY(-14px);

}
#calorieschart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-90deg) translateX(-6px) translateY(-14px);
}
#proteinbarchart{
    transform: rotate(90deg);
}
#proteinbarchart .y.axis text{
        transform: rotate(-90deg) translateY(-12px) translateX(15px);
}
#calciumandironchart{
    transform: rotate(90deg);
}
#calciumandironchart .y.axis text{
        transform: rotate(-90deg) translateY(-12px) translateX(15px);
}
span.number-display{
    font-size: 80px;
}
.navbar-brand{
   font-size: 30px;
}
.navbar{
    min-height: 50px;
}
#number-projects-nd {
   font-size: 60px;
}
 
#total-donations-nd {
   font-size: 60px;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}
 
#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
 
.dc-select-menu {
   background: #ffbb3d;
   border: none;
   border-radius: 5px 5px 5px 5px;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   text-align: center;
   margin-top: 10px;
   padding-bottom: 0px;
}

img{
    padding-left: 5px;
}
.git{
    text-align: right;
    padding-top: 10px;
}
a.reset img{
    margin-top:15px;
}
@media (max-width: 1200px){
#sugarschart svg {
        /*transform: rotate(90deg);*/
        /*margin-top: -100px;*/
        padding-left: 5px;
        transform: scale(0.7) rotate(90deg);
        transition: all.5s;  
        position: relative;
        left: -430px;
    top: 150px;

}
.mediabox {
        height: 950px;
        transition: all.5s;
        
}
#sugarschart .y.axis text{
    text-anchor: end !important;
    transform: rotate(-90deg) translateX(15px) translateY(-14px);
}}
@media (max-width: 360px){
#fatchartexport, #cholesterolchartexport, #sodiumchartexport, #carbchartexport{
        transform: scale(0.8);
        
        transition: .5s;
        
}}
